.container-contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 126px 25px 126px 25px;
}

.title-contact{
	color: #3c2839;
	font-family: Lato;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 100px;
}

.title-contact::after{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -52px;
	width: 50px;
	height: 1px;
	background-color: #626262;
}

.contact-details{
	width: 48%;
	margin-bottom: 50px;
}

.form-detail{
	display: flex;
	flex-direction: column;
}

.titles-form{
	color: #626262;
	font-family: Lato;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.button-descr{
	color: #626262;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #626262;
	background-color: #ffffff;
	padding: 20px 30px;
	transition: .2s all;
	width: 50%;
}

.button-descr:hover{
	background-color:rgba(214, 214, 214, 0.3);
	cursor: pointer;
}

.ranges{
	margin-bottom:25px;
	background: #373c44;
	 -webkit-appearance: none;
	 height:7px;
	 border-radius: 30px;
}

.ranges::-webkit-slider-thumb{
	-webkit-appearance: none;
	background:#373c44;
	width: 30px;
	height: 30px;
	border-radius:50%;
	cursor: pointer;
}


.text-placeholder{
	color: #999999;
	font-family: Lato;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid #eaeaea;
	background-color:transparent;
	margin-bottom: 50px;
	margin-top: 10px;
	padding: 25px 0 25px 25px;
	width: 100%;
}

.text-placeholder:placeholder{
	color:#9f9f9f;
}

.text-placeholder:focus{
	background:#eaeaea;
}

.block-checkbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}

.checkbox:checked {
	background: #874ab6;
}

.checkbox{
	margin-right: 15px;
}

.block-check{
	width: 30%;
	margin-bottom: 15px;
	display: flex;
}

.blocks-checkbox{
	margin-bottom: 25px;
}

.text-placeholder__descr{
	color: #999999;
	font-family: Lato;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid #eaeaea;
	background-color:transparent;
	margin-bottom: 50px;
	margin-top: 10px;
	padding: 25px 0 150px 25px;
	width: 100%;
}

.text-placeholder__descr:focus{
	background:#eaeaea;
}

.contact-details-blocks{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.adress{
	display:block;
}

.title-details{
	color: #626262;
	font-family: Lato;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 55px;
}

.adress-title{
	color: #626262;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.adress{
	color: #626262;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.block-adress{
	margin-bottom: 45px;
}

.block-details__adress{
	margin-bottom: 75px;
}

.block-details__link{
	display: flex;
	justify-content: space-between;
	width: 60%;
	align-items: center;
	margin-bottom: 90px;
}

.subscribe-redian-red{
	width: 64px;
	height: 64px;
	border: 1px solid #c00000;
	border-radius: 50%;
	padding:16px 16px 16px 20px;
}

.img-contact__sea{
	width: 100%;
}