.section-content {
  background: url(../img/content/bg-content.png) center no-repeat;
  background-size: cover;
  box-shadow: inset 0 10px 1px rgba(0, 0, 0, 0.3); }

.content-slider {
  margin-bottom: 130px; }

.container-content {
  padding-top: 42px;
  padding-bottom: 27px; }
  .container-content__title {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.37px;
    margin-bottom: 40px; }

.slider-page {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .slider-page__content {
    width: 67%;
    display: flex;
    flex-direction: row;
    position: relative; }
  .slider-page__img {
    height: 232px;
    width: 315px;
    position: relative;
    object-fit: cover; }
  .slider-page__button {
    display: block;
    position: absolute;
    width: 61px;
    height: 61px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    padding: 15px 23px;
    right: 130px;
    background-color: #f5c506;
    z-index: 2;
    opacity: 0.7;
    cursor: pointer; }
  .slider-page__date {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    bottom: -86px;
    width: 113px;
    height: 86px;
    background: #ddb101;
    font-size: 51px;
    font-weight: 700;
    text-align: center; }
    .slider-page__date span {
      font-size: 21px;
      font-weight: 400;
      text-transform: uppercase;
      color: #b26529;
      margin-top: -12px; }
  .slider-page__descr {
    font-size: 29px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.29px;
    background: #ec9e03;
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px; }

.slider-page__icon {
  min-height: 232px;
  width: 300px;
  background: #ec9e03;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .slider-page__icon .form-block {
    display: none; }
  .slider-page__icon::before {
    content: '22';
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    font-weight: 300; }

.slider-list {
  width: 90%;
  margin: 0 auto;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.5;
  position: relative; }
  .slider-list::before {
    content: '';
    display: block;
    background-color: #ec9e03;
    height: 15px;
    width: 22%;
    position: absolute;
    top: 0;
    cursor: pointer; }
