.section-device {
  background: url(../img/device/bg-device.jpg) center no-repeat;
  background-size: cover; }

.container-device {
  padding: 48px 0 98px 0; }
  .container-device__title {
    color: #f5c506;
    font-size: 43px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 57px; }
  .container-device__blocks {
    display: flex;
    justify-content: space-between; }
  .container-device__block {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0px; }
    .container-device__block img {
      margin-right: 25px; }
    .container-device__block .phone {
      margin-top: 105px; }
  .container-device__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    width: 116px;
    height: 116px;
    background-color: #f5c506;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 0px;
    left: 0px; }
  .container-device__descr {
    width: 35%;
    list-style-image: url(../img/device/li.png);
    list-style-position: outside;
    color: #a9a9a7;
    font-size: 22px;
    font-weight: 400; }
    .container-device__descr li {
      margin-bottom: 20px; }
