
/*Gotham*/

@font-face{
	font-family: Gotham;
	font-weight: bold;
	src: url(../fonts/gotham/GothaProBol.otf);
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: Gotham;
	src: url(../fonts/gotham/GothaProLig.otf);
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: Gotham;
	src: url(../fonts/gotham/GothaProBla.otf);
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family: Gotham;
	src: url(../fonts/gotham/GothaProReg.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: Gotham;
	src: url(../fonts/gotham/GothaProMed.otf);
	font-weight: 600;
	font-style: normal;
}

/*Gotham-Other*/

@font-face{
	font-family: Gotham-Book;
	src: url(../fonts/gotham/Gotham-Book.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: Gotham-Thin;
	src: url(../fonts/gotham/Gotham-Thin.otf);
	font-weight: 400;
	font-style: normal;
}