body{
	margin: 0px;
	padding: 0px;
	height: 100%;

	font-family: Gotham, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #4f4f4f;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
}

p{
	margin: 0px;
	padding:0px;
}

button{
	display: inline-block;
}

button:focus{
	outline: none;
}

a{
	text-decoration: none;
}

img{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

/*cont and sec*/

.section{
	width: 100%;
	/*height:100vh;*/
}

.container{
	width: 100%;
   max-width: 1200px;
   margin: 0 auto;  
   padding-left: 10px;
   padding-right: 10px;
}

/*descr*/

.descr{
	margin-left:15px; 
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.descr__title{
	color: #ffffff;
	font-family: "Gotham-Book";
	font-size: 42px;
	font-weight: 400;
	line-height: 58px;
	margin-bottom: 20px;
}

.descr__title::after{
	content: '';
	display: block;
	width: 186px;
	height: 4px;
	margin-top: 22px;
	margin-left: 10px;
	background-color: #eb5635;
}

.descr__subtitle{
	width: 570px;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	line-height: 58px;
	margin-bottom: 32px;
}

.descr__text{
	width: 570px;
	color: #ffffff;
	font-family: "Gotham-Thin";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.36px;
	margin-bottom: 32px;
	opacity: 0.8;
}

/*descr-b*/

.descr-b{
	/*margin-bottom: 90px;*/
	margin:0 0 75px auto;
	width: 50%;
}	

.descr__title-b{
	color: #686868;
}

.descr__subtitle-b{
	color: #4f4f4f;
}

.descr__text-b{
	color: #b1b1b1;
}

/*button*/

.button-orange{
	background-color: #eb5635;
	color: #f8f8f8;
	font-family: Gotham;

	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;

	border: none;
	border-radius: 40px;
	padding: 13px 35px;
	margin-right: 10px;
	transition: .2s linear;
}

.button-orange:hover{
	color: #241c1f;
	background-color: #fff;
	cursor: pointer;
}

.button-orange-o{
	background: transparent;
	border: 2px solid #eb5635;
	color: #eb5635;
}

.button-orange-o:hover{
	background: #eb5635;
	color: #fff;
}

.button-white{
	color: #241c1f;
	background-color: #fff;
}

.button-white:hover{
	background-color: #eb5635;
	color: #f8f8f8;
}

.button-o{
	border: 3px solid #ffffff;
	color: #fff;
	background: transparent;
	padding: 11px 35px;
	margin-left:-10px;
}

.button-min{
	padding: 13px 20px;
}


/*header*/

.section-header{
	background: #ae6034 url(../img/header/bg-header.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.bg-opacity{
	width:3000px;
	height: 1000px;
	background-color:rgba(48, 48, 48, 0.5);
	
	transform:translateX(-40%) rotate(-65deg);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.container-header{
	padding-top: 56px;
	padding-bottom: 256px;
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 0; 
	position: relative;
	z-index: 3;


	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 162px;
	background: #fff;
	margin-bottom: 162px;
}

.header-logo{
	padding-top: 21px;
	padding-right: 56px;
	border-right: 1px solid #f1f1f1; 
}

/*mail*/

.mail{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	width: 55%;
}

.mail-info__descr{
	color: #2e343b;
	font-family: "Gotham-Book";
	font-size: 15px;
	font-weight: 400;
	line-height: 58px;
}

.mail-country{
	display: inline-block;
	color: #2e343b;
	font-family: "Gotham-Book";
	font-size: 15px;
	font-weight: 400;
	line-height: 58px;
}

.mail-info{
	margin-left: 26px;
}

.circle{
	display: inline-block;
	text-align: center;
	vertical-align: middle;

	margin-right:5px;
	padding: 8px;
	border: 2px solid #eeeeee;
	border-radius: 100%;
	background: transparent;
	width: 39px;
	height: 39px;
}

/*header-nav*/

.header-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-nav__items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding: 15px 0 15px 0;
}

.header-nav__icons{
	width: 10%;
	margin-left: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-link__icon{
	height: 26px;
	display: inline;
}

.header-nav__list{
	list-style-type: none;
}

.header-nav{
	border-top: 1px solid #f1f1f1;
}

.nav-link{
	display: inline;
	color: #2e343b;
	font-family: Gotham;
	font-size: 15px;
	font-weight: 600;
}

/*homefront*/

.section-homefront{
	background:#e6e6e6 url(../img/highteded/Background.png) top no-repeat;
	-webkit-background-size: auto;
	background-size: auto;
}

.container-homefront{
	padding-top: 107px;
	padding-bottom: 56px;
}

/*blocks-homefront*/
/*block-1*/

.blocks-homefront{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blocks-homefront__block{
	display: flex;
}

.homefront__block-img{
	background:url(../img/highteded/block-1.png) left no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 436px 119px 0px 20px;
}

.homefront__block-ios{
	color: #f8f8f8;
	background-color: #eb5635;
	font-family: Gotham;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 8px 29px;
	margin-bottom: 30px;
	display: inline-block;
}

.homefront__block-descr{
	background-color: #fff;
	padding: 35px;
}

.block-descr__title{
	color: #4b4b4b;
	font-family: Gotham;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 26px;
}

.block-descr-text{
	width: 169px;
	margin-bottom: 32px;
	color: #b1b1b1;
	font-family: Gotham;
	font-size: 17px;
	font-weight: 300;
	line-height: 22.52px;
	letter-spacing: 0.36px;
}

.block-descr__numbers{
	color: #eb5635;
	font-family: Gotham;
	font-size: 18px;
	font-weight: 500;
	line-height: 24.5px;

	display: flex;
	align-items: center;
	margin-bottom: 21px;
}

.descr-number{
	margin-right: 16px;
   text-align: center;
	padding: 7px 0 7px 0;
	background: transparent;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 2px solid #eb5635;
}

.block-descr__numbers-2{
	margin-bottom: 60px;
}
/*block-2*/

.blocks-homefront__block-2{
	background: url(../img/highteded/block-2.png) top no-repeat;
	-webkit-background-size: auto;
	background-size: auto;
	padding: 0px;
}

.homefront__block-descr-2{
	background: #fff;
	margin-top: 233px; 
}

.block-descr__title-2{
	color: #4b4b4b;
	font-family: Gotham;
	font-size: 28px;
	font-weight: 300;
	line-height: 38.47px;
}
/*block-3*/

.homefront__block-descr-3{
	background: url(../img/highteded/block-3.png) left no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-left: 240px;
}

.block-descr__title-3{
	opacity: 0.9;
	color: #ffffff;
	font-family: Gotham;
	font-size: 28px;
	font-weight: 300;
	line-height: 38.47px;
}

.block-descr-text-3{
	opacity: 0.8;
	color: #ffffff;
	font-family: Gotham;
	font-size: 17px;
	font-weight: 300;
	line-height: 22.52px;
	letter-spacing: 0.36px;
	margin-bottom: 47px;
}

.tx-bold{
	font-weight: 600;
}

/*Who we are*/

.section-who_we_are{
	background-color: #fafafa;
}

.tx-orange{
	color: #eb5635;
	font-weight: 700;
}

/*block-text*/

.block-descr{
	display: flex;
	justify-content: space-between;
	margin-bottom: 76px;
}

.block-title{
	color: #222222;
	font-family: Gotham;
	font-size: 36px;
	font-weight: 700;
}

.block-title::after{
	content: "";
	background: #eb5635;
	display: block;
	width:49px;
	height: 7px;
	margin-top: 14px;
}

.block-text{
	color: #999999;
	font-family: "Gotham - Book Italic";
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	width: 55%;
}

/*slider*/

.button-slider{
	border: none;
	width: 63px;
	height: 63px;
	background-color: #3a3a3a;
}

.button-slider:hover{
	cursor: pointer;
	background: #eb5635;
}

.who_we_are-slider{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding-top: 35px;
	margin-bottom: 43px;
}

.slider-author{
	color: #999999;
	font-family: "Gotham - Book Italic";
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
}

.slider-bg{
	background-color: #fff;
	padding:0 20px 40px 20px ;
}

/*section-blogs*/

.section-blogs{
	background-color:#fafafa;
}

.container-blogs{
	padding-top: 46px;
}

.block-descr__none{
	margin-bottom: 40px;
}

/*work*/

.blogs-works{
	display: flex;
	justify-content: space-between;
}

.blogs-work{
	background: #fff;
	width: 500px;
	margin-bottom: 15px;
}

.work-navigation{
	display: flex;
	justify-content: flex-start;
}

.navigation-adress{
	display: flex;
	margin-right: 20px;
	align-items: center;

	color: #b1b1b1;
	font-family: Gotham;
	font-size: 15px;
	font-weight: bold;
	line-height: 22.52px;
	margin-bottom: 15px;
}

.time-text{
	color: #b1b1b1;
	font-family: Gotham;
	font-size: 12px;
	font-weight: 300;
	line-height: 22.52px;
}

.work-title{
	color: #4b4b4b;
	font-family: Gotham;
	font-size: 21px;
	font-weight: 700;
	line-height: 38.47px;
	margin-bottom: 15px;
}

.work-text{
	color: #b1b1b1;
	font-family: Gotham;
	font-size: 13px;
	font-weight: 300;
	line-height: 22.52px;
	margin-bottom: 20px;
}

.time-img{
	width: 15px;
	height: 15px;
	margin-right: 14px;
}

.img-map{
	width: 11px;
	height: 16px;
	margin-right: 14px;
}


/*section-morecontacts*/

.container-morecontacts{
	display: flex;
	justify-content: space-between;
	padding: 70px 0;
}

.block-text__morecontacts{
	display: flex;
}

.block-text__morecontacts3{
	flex-direction: column;
	justify-content: space-around;
}

.morecontacts-block{
	padding-left:20px;
	padding-right: 20px;
	background-color: #fff;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.morecontacts-block3{
	height: 85%;
}


.text__morecontacts-title{
	color: #4b4b4b;
	font-family: Gotham;
	font-size: 21px;
	font-weight: 700;
	line-height: 27.47px;
	margin-bottom: 15px;
}

.text__morecontacts-data{
	color: #b1b1b1;
	font-family: Gotham;
	font-size: 15px;
	font-weight: bold;
	line-height: 22.52px;
}

.img-morecontacts{
	margin-right: 24px;
	width: 88px;
	height: 88px;
}

.section-morecontacts{
	background-color: #fafafa;
	/*padding: 70px 0;*/
}

.morecontacts-all{
	width: 32%;
	margin-bottom: 67px;
}

.morecontacts-title{
	color: #222222;
	font-family: Gotham;
	font-size: 36px;
	font-weight: 700;

	display: inline-block;
}

.morecontacts-title__text{
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.view-more{
	color: #b1b1b1;
	font-family: Gotham;
	font-size: 15px;
	font-weight: bold;
	line-height: 22.52px;
}

.view-more__orange{
	color: #eb5635;
	display: block;
}

.blue-text{
	color: #59adeb;
	letter-spacing: 0.32px;
}

.text__morecontacts-data-down{
	margin-bottom: 30px;
}

.nav-down{
	width: 100%;
	background-color: #fafafa;
	padding-top:20px ;
	padding-left: 14px;
}

/*footer*/

.section-footer{
	background-color: #fff;
}

.footer{
	display: flex;
	flex-wrap: wrap;
}

.footer-copyright{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;

	color: #2e343b;
	font-family: "Gotham-Book";
	font-size: 15px;
	font-weight: 400;
}

.link-footer{
	color: #2e343b;
	font-family: Gotham;
	font-size: 15px;
	font-weight: 600;
}

.footer-item{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 22px 0;
	border-bottom: 1px solid #f2f2f2;
}

.footer-nav{
	margin-right: 20px;
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin-right: 270px;
}

.footer-img{
	margin-right: 37px;
}

.lang-footer{
	width: 150px;
	color: #2e343b;
	font-family: Gotham;
	font-size: 15px;
	font-weight: 600;
}