*{
    box-sizing: border-box;
  }
  input{
    margin: 0px;
  }
  a{
    text-decoration: none;
    color: rgb(248, 248, 248);
  }
  p{
    margin: 0px;
  }
  body {
    font: 14px "Roboto", sans-serif;
    margin: 20px;
    margin: 0px;
    padding: 0px;
    color: rgb(248, 248, 248);
    background: #f4f3f4;
  }  
  h1, h2, h3{
    margin: 0px;
    padding: 0px;
  }
  ol, ul {
    padding-left: 30px;
  }
  .section{
    width: 100%;
    margin: 0px;
    padding: 0px;
  } 
  .container{
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    height: auto;
  }   
  
  
  