.course-title{
    font-size: 23px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  
    color: #65676b;
  
    margin-bottom: 15px;
    width: 100%;
  }
  .container-course{
    padding: 20px;
  
    background: #feffff;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  