.text-calculator{
  border: 2px #cdcdc7 solid;

  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.select-calculator{
  border: 2px #cdcdc7 solid;
  color: #757071;

  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
form{
  margin-bottom: 20px;
}
.submit-calculator{
  padding: 1px 20px;
  margin: 0px 15px;
  border: 2px #cdcdc7 solid;
  color: #757071;
  background: #fff;

  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}